body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}
.name{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(Images/background/7.png);
   
    margin-bottom: 50px;
}
h1{
    font-size: 40px;
    font-weight: 1000;
}
.first-half{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
    margin-top: 5%;
   
}
.first-half img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 191, 198), rgb(240, 45, 11));
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 15%;
}
.second-banner{
    background-image: url(Images/background/Frame\ 57.jpg);
 
   margin-bottom: 50px;
}
.second-half{
  
    text-align: justify;
    padding-right: 80px;
}
.third-half{
    text-align: center;
    margin: 10px;
    margin-bottom: 40px;
}
.food-name{
   display: grid;
   
   text-align: center;
   width: 90%;
   padding: 20px;
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 30px;
   box-shadow: 10px 10px 30px rgb(145, 135, 135);
   margin-bottom: 50px;
}
.food-name img{
    width: 100%;
}
.plan-color{
    color: tomato;
}
.plan-head{
    text-align: center;
    color: red;
}
.planning{
    background-image: url(Images/background/Frame\ 58.jpg);
}

.item-card{
    width: 50%;
    padding: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgb(108, 126, 91);
}
#card1{
    border-left: 7px solid;
    border-image: linear-gradient(red ,yellow,orange);
    border-image-slice: 1;
}
#card2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan, green);
    border-image-slice: 1;
}
#us-color{
    color: rgba(12, 66, 245, 0.959);
}
.con-head{
    text-align: center;
    margin-bottom: 50px;
}
.con-card{
    width: 80%;
    display: grid;
   grid-template-columns: repeat(3, 1fr);

   padding: 20px;
   margin-left: 8%;
 
   border-radius: 30px;
   box-shadow: 10px 10px 30px rgb(145, 135, 135);
   margin-bottom: 50px;
}
.con-card img{
    width: 10%;
    text-align: center;
}
.foot-color{
    color: orange;
}
.foot-color2{
    color: rgb(153, 147, 147);
}
.f-color{
    color: white;
}
footer{
    text-align: center;
    background-color: black;
    margin-bottom: 0;
}

